{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
            <legend class="legend">Edit Post</legend>

            <div class="form-group">
                {{ form.caption.label(class="form-control-label") }}

                {% if form.caption.errors%}
                    {{ form.caption(class="form-control") }}
                    <div class="">
                        {% for error in form.caption.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.caption(class="form-control ") }}
                {% endif %}

            </div>
        <div class="">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        

    </form>
</div>
{% endblock content %}