{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
            <legend class="legend">Forgot password</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}

                {% if form.email.errors%}
                    {{ form.email(class="form-control") }}
                    <div class="">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control ") }}
                {% endif %}

                <div class="form-group">
                    {{ form.submit(class="btn btn-primary", id="submit-btn") }}
                </div>
            </form>
        </div>
        
    
{% endblock content %}