
<style>
    header {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    li {
        margin-right: 20px;
    }

 

    li:last-child::after {
        content: ''; 
    }

    img {
        margin-left: 10px;
        margin-right: 10px;
    }
</style>

<script>
    function redirectToHome() {
        window.location.href = "{{ url_for('index') }}";
    }

    function redirectToProfile() {
        window.location.href = "{{ url_for('profile', username=current_user.username) }}";
    }

    function redirectToLogOut() {
        window.location.href = "{{ url_for('logout') }}";
    }
</script>

<header>
    <img src="{{url_for('static', filename='logo.png')}}" alt="logo" style="width: 25px; height: auto; margin-right: 15px;">
    <div style="font-size: 20px; font-weight: bold;">
        <ul style="list-style: none; padding: 0;">
            <li style="display: inline-block; margin-right: 55px;">
                <a onclick="redirectToHome()">Home</a>
            </li>
            <li style="display: inline-block; margin-right: 55px;">
                <a onclick="redirectToProfile()">Profile</a>
            </li>
            <li style="display: inline-block;">
                <a onclick="redirectToLogOut()">Log Out</a>
            </li>
        </ul>
    </div>
</header>


